
<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sala de juegos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/Principal" class="nav-link" href="#">Inicio</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="card">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="listarResultados()" type="button" class="btn btn-secondary">Traer todos</button>
          <button  id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtrar por juego
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <span (click)="listarFiltrado('ta te ti')" class="dropdown-item" href="#">Ta te ti</span>
          </div>
        </div>
    </div>
</div>

<app-listado-de-resultados [listado]="listaDeJuegos"> </app-listado-de-resultados>

