<div class="container" >
    <div id="navs-container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#simon" role="tab" aria-controls="simon" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-6">
                <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
            </div>
            <div class="col-6">
              <h1>Velocidad y agilidad aritmética</h1>
            </div>
            <p>Juego de agilidad mental</p> <br>
            <button class="btn btn-primary btn-lg btn-block"  (click)="Juego('Agilidad')">Jugar</button>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row">
            <div class="col-6">
                <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
            </div>
            <div class="col-6">
              <h1>Piedra Papel o Tijera</h1>
            </div>
            <p>Juega contra la máquina</p> <br>
            <button class="btn btn-primary btn-lg btn-block"  (click)="Juego('PPT')">Jugar</button>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-6">
                <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
            </div>
            <div class="col-6">
              <h1>Adivina el número secreto</h1>
            </div>
            <p>Juega de estrategia</p> <br>
            <button class="btn btn-primary btn-lg btn-block"  (click)="Juego('Adivina')">Jugar</button>
          </div>
        </div>
        <div class="tab-pane fade" id="simon" role="tabpanel" aria-labelledby="simon-tab">
          <div class="row">
            <div class="col-6">
                <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
            </div>
            <div class="col-6">
              <h1>Simon</h1>
            </div>
            <p>Juego de momoria</p> <br>
            <button class="btn btn-primary btn-lg btn-block"  (click)="Juego('Simon')">Jugar</button>
          </div>
        </div>
      </div>
    </div>
  </div>