#navs-container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    background-color: #FFF;
}

.tab-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
}
