.row {
    width: 420px;
    margin: auto;
    padding: 10px;
    background-color: black;
    border-radius: 200px;
}

.col-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.card {
    border-radius: 0px;
    width: 200px;
    height: 200px;
}

#card-r {
    background-color: red;
    border-top-left-radius: 200px;
}

#card-r.active {
    background-color: #ff4d4d;
}

#card-bl {
    background-color: blue;
    border-top-right-radius: 200px;
}

#card-bl.active {
    background-color: #4f4fff;
}

#card-yl {
    background-color: yellow;
    border-bottom-left-radius: 200px;
}

#card-yl.active {
    background-color: #ffff73;
}

#card-gr {
    background-color: green;
    border-bottom-right-radius: 200px;
}

#card-gr.active {
    background-color: #34c134;
}
