<div class="container">

  <div [hidden]="gameStarted">
    <button class="btn btn-primary" (click)="startGame()">Iniciar juego</button>
  </div>

  <div [hidden]="!gameStarted">

      <h1>Nivel {{level.value}}</h1>

      <br>

      <div class="row">

        <div class="col col-6">
          <div class="card" id="card-rojo" (click)="clickColor('r')">
            <div class="card-body">
                <h5 class="card-title">Rojo</h5>
            </div>
          </div>
        </div>

        <div class="col col-6">
          <div class="card" id="card-azul" (click)="clickColor('az')">
            <div class="card-body">
                <h5 class="card-title">Azul</h5>
            </div>
          </div>
        </div>

        <div class="col col-6">
          <div class="card" id="card-amarillo" (click)="clickColor('am')">
            <div class="card-body">
                <h5 class="card-title">Amarillo</h5>
            </div>
          </div>
        </div>

        <div class="col col-6">
          <div class="card" id="card-verde" (click)="clickColor('v')">
            <div class="card-body">
                <h5 class="card-title">Verde</h5>
            </div>
          </div>
        </div>

      </div>

  </div>

</div>