<div class="container" [class.inicio]="!gameStarted">

  <div [hidden]="gameStarted">
    <h1 class="titulo">Simon&reg;</h1>
      <button class="btn btn-primary btn-lg btn-block" (click)="startGame()">Iniciar juego</button>
  </div>

  <div [hidden]="!gameStarted">

      <h1 class="titulo">Nivel {{level.value}}</h1>

      <br>

      <div class="row">

        <div class="col col-6">
          <div class="card" id="card-r" (click)="clickColor('r')">
            <div class="card-body">
            </div>
          </div>
        </div>

        <div class="col col-6">
          <div class="card" id="card-bl" (click)="clickColor('bl')">
            <div class="card-body">
            </div>
          </div>
        </div>

        <div class="col col-6">
          <div class="card" id="card-yl" (click)="clickColor('yl')">
            <div class="card-body">
            </div>
          </div>
        </div>

        <div class="col col-6">
          <div class="card" id="card-gr" (click)="clickColor('gr')">
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>

  </div>

</div>