<div [hidden]="gameStarted">
  <button class="btn btn-primary" (click)="startGame()">Iniciar juego</button>
</div>

<div [hidden]="!gameStarted">
    
    <button class="btn btn-danger" (click)="clickColor('r')">Rojo</button>

    <button class="btn btn-primary" (click)="clickColor('az')">Iniciar juego</button>

    <br>

    <button class="btn btn-warning" (click)="clickColor('am')">Iniciar juego</button>

    <button class="btn btn-success" (click)="clickColor('v')">Iniciar juego</button>

</div>