.row {
    width: 400px;
}

.col-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.card {
    border-radius: 0px;
    width: 200px;
    height: 200px;
}

#card-r {
    background-color: red;
}

#card-r.active {
    background-color: #ff4d4d;
}

#card-bl {
    background-color: blue;
}

#card-bl.active {
    background-color: #4f4fff;
}

#card-yl {
    background-color: yellow;
}

#card-yl.active {
    background-color: #ffff73;
}

#card-gr {
    background-color: green;
}

#card-gr.active {
    background-color: #34c134;
}