<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div class="row justify-content-center">
  <div class="col-11">
    <div class="card">
      <div class="card-body">
        
          <h1>{{primerNumero}} {{operador}} {{segundoNumero}} =</h1>
          <div class="form-group">
            <input neme="respuesta" [(ngModel)]="respuesta" type="number" class="form-control" placeholder="Resultado">
            {{respuesta}}
          </div>
          <button (click)="iniciarJuego()" [hidden]="juegoIniciado" type="submit" class="btn btn-primary">Iniciar</button>
          <div [hidden]="!juegoIniciado">
            <button (click)="finalizarJuego()" type="submit" class="btn btn-success">Verificar</button>
            Verificando en {{tiempo}}
          </div>
        
      </div>
    </div>    
  </div>
</div>

<!--<form name="juego">
<ul>
   <li>
   Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
  
  </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
     
   </li>
  <li>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
  </li>
  <li>
    <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
  </li>
</ul>

</form>-->