@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Coiny);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

body {
    background-color: #00BCD4;
    font-family: Noto Serif !important;
}

.navbar-light {
    background-color: #FF5722 !important;
}

.navbar-brand {
    font-family: Coiny;
    color: white !important;
}


.btn-primary {
    background-color: #FF5722;
    border-color: rgb(248, 67, 12);
}

.page-title {
    font-family: Coiny;
    color: white;
}

.btn-outline-primary {
    color: #FF5722;
    border-color: #FF5722;
}

/*Nav tabs*/
#navs-container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    background-color: #FFF;
}

.tab-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    background-color: #FFF;
    margin-bottom: 25px;
}

.btn-primary-tabs {
    margin-top: 5px;
    margin-bottom: 10px;
}